/**
 *  Interactive Demo CSS.
 *
 *  Author: Mar Alguacil
 */

:root {
    --main-tool-color: #52A3E0;
    --icon-color: #4066dd;
}


/*---------------- General configuration ----------------*/
div.absolute {
    position: absolute;
    bottom: 0;
}

.inline {
    display: inline-block;
}


/*---------------- Containers ----------------*/
#paint-segmap {
    border: 2px solid var(--main-color);
}

.tool-container {
    position: relative;
    height: 28vmax;
    width: 18vmax;

    color: var(--main-tool-color);
    background-color: #FAFDFF;
    border-radius: 5%;
    border: 2px solid #74B5E7;
}

.sub-container {
    margin: 0.5vmax;
}

.form-container {
    margin: 0;
    padding: 0;
}


/*---------------- Dimensions ----------------*/
.dim-img {
    height: 29vmax;
    width: 29vmax;
    width-min: 256px;
}

.dim-style-container {
    height: 12vmax;
    width: 19vmax;
    margin: 2% 0;
}

.dim-styimg {
    height:auto;
    max-height: 12vmax;
    width:auto;
    max-width: 19vmax;
}

.dim-generate {
    height: 17vmax;
    width: 19vmax;
}

.dim-line {
    font-size: 1.8vmax;
}
.dim-diamond {
    font-size: 2.5vmax;
}
.dim-rectangle {
    font-size: 3.5vmax;
}
.dim-circle {
    font-size: 4.5vmax;
}

/*--------------- Selected ---------------*/
.tool.selected {
    color: var(--icon-color);
}

.tool-bubble.selected {
    color: #CBE4F6;
}

.circle-button.selected {
    background-color: #F3F3F3;
}

/*---------------- Tool names ----------------*/
.name-tool {
    margin: 0.2vmax 0 0 1vmax;
    font-weight: bold;
}
.name-color-class {
    margin: 0;
    font-size: 0.9vmax;
}

/*---------------- Speech bubble ---------------- */
#speech-bubble {
    position: relative;
    background: var(--icon-color);
    border-radius: .3em;
    margin: 0.2vmax;

    display: None;
}

#speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-bottom-color: var(--icon-color);
    border-top: 0;
    border-left-style: solid;
    border-left-width: var(--border-left-width);
    margin-left: var(--margin-left);
    margin-top: -0.9vmax;
}

.items-bubble{
    display: flex;
    justify-content: space-evenly;
}

.paint-button-bubble {
    color: white;
    background: None;
    border: None;
    margin: -1.5vmax 0;
    padding: 0;
}

.paint-button-bubble:hover {
    color: #E1E1E1;
}
.paint-button-bubble:active {
    color: #00C3E8;
}

/* Remove the border that appears during clicking */
.paint-button-bubble:focus {
    outline: 0 !important;
}

/*---------------- Lines ----------------*/
.line {
    height: 2px;
    width: 17.8vmax;

    margin: 0 ;
    padding: 0;
    border-width: 0;
    background-color: var(--main-tool-color);
}

.line-width {
    height: 4px;
    width: 17.8vmax;

    margin: 0 ;
    padding: 0;
    border-width: 0;
    background-color: var(--main-tool-color);
}

/* Vertical line */
.vl {
    margin: 0;
    padding: 0;
    border-left: 2px dotted var(--main-tool-color);
}



/*---------------- Items ----------------*/
.items {
    display: flex;
    justify-content: space-around;

    font-size: 2vmax;
}

.margin-topbottom-items {
    margin: 0.01vmax 0;
}
.margin-top-items {
    margin-top: 0.1vmax;
}

.more-margin-top-items {
    margin-top: 0.5vmax;
}

.paint-button {
    color: var(--main-tool-color);

    background: None;
    border: None;
}

.margin-topbottom-paint-button {
    margin: -0.3vmax 0;
}

.paint-button:hover {
    color: var(--icon-color);
}

.las {
    font-size: 3vmax;
}

.icon-close {
    font-size: 2.5vmax;
    margin-right: 1vmax;
    margin-left: -0.1vmax;
}

/*---------------- Stroke width ----------------*/
#stroke-width-range {
    width: 12vmax;
}
#range {
    position: relative;
    font-size: 1vmax;
    color: white;
    margin-bottom: 0.7vmax;
    margin-right: 0.4vmax;
}
#range:before {
    content: '1';

    position: absolute;
    margin-left: 0.3vmax;
    margin-top: 1vmax;
}
#range:after {
    content: '100';

    position: absolute;
    margin-left: -1.6vmax;
    margin-top: 1vmax;
}

#stroke-width-number {
    width: 4.5vmax;
    text-align: center;
    color: var(--icon-color);
    border: 1px solid var(--main-tool-color);
    border-radius: 10%;
    background: #CBE4F6;
    margin-bottom: 0.2vmax;
}

.stroke-width{
    display: none;
}

/*---------------- Colors ----------------*/
#color-selected {
    height: 1.5vmax;
    width: 1.5vmax;
    border-radius: 20%;
    border: 2px solid var(--main-tool-color);
    margin-left: 11vmax;
    display: inline-block;
}

.circle-button {
    height: 3vmax;
    width: 3vmax;
    font-size: 1.5vmax;

    background: white;
    border-radius: 50%;
    border: 1px solid var(--main-tool-color);
    margin-top: 1%;
    margin-bottom: 1%;
}
.circle-button:hover {
    background-color: #F3F3F3;
}

/* Landscape */
#sky {
    color: #69DAE9;
}
#water {
    color: #73C1E8;
}
#waterfall {
    background-image: url('/static/images/color-icons/waterfall.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#river {
    background-image: url('/static/images/color-icons/river.png');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}
#sea {
    background-image: url('/static/images/color-icons/sea.png');
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
}
#light {
    color: yellow;
}
#stone {
    background-image: url('/static/images/color-icons/stone.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#hill {
    color: #596F00;
}
#mountain {
    color: #723E00;
}

/* Ground */
#sand {
    background-image: url('/static/images/color-icons/sand.png');
    background-size: 75%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#land {
    background-image: url('/static/images/color-icons/land.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#pavement {
    background-image: url('/static/images/color-icons/pavement.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#road {
    background-image: url('/static/images/color-icons/road.png');
    background-size: 110%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#path {
    background-image: url('/static/images/color-icons/path.png');
    background-size: 110%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Plant */
#tree {
    background-image: url('/static/images/color-icons/tree.png');
    background-size: 75%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#palm {
    background-image: url('/static/images/color-icons/tree-palm.png');
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#flower {
    background-image: url('/static/images/color-icons/flower.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#grass {
    background-image: url('/static/images/color-icons/grass.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
#plant {
    padding-top: 0.5vmax;
    padding-left: 0.45vmax;
    color: #7DB241;
    font-size: 2vmax;
}