/**
 *  Static Demo CSS.
 *
 *  Author: Mar Alguacil
 */

/*---------------- Dimensions ----------------*/
.dim-img {
    height: 30vmax;
    width: 30vmax;
    width-min: 256px;
}

.dim-style-container {
    height: 12vmax;
    width: 20vmax;
    margin: 2% 0;
}

.dim-styimg {
    height:auto;
    max-height: 12vmax;
    width:auto;
    max-width: 20vmax;
}

.dim-generate {
    height: 18vmax;
    width: 20vmax;
}

/*---------------- Icons ----------------*/
.icon-segmap {
    height:5vmax;
    width:100%;

    background-image: url('/static/images/icon-segmap.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/*---------------- Fixed text ----------------*/
.segmap-info {
    font-size: 2vmax;
    margin: 0;
    font-weight: bold;
}

.segmap-info-click {
    font-size: 1.3vmax;
    margin: 0;
}

@media(max-width: 730px) {
    /*---------------- Dimensions ----------------*/
    .dim-img {
        height: 90vmin;
        width: 90vmin;
        margin: 2% 0;
    }

    .dim-style-container {
        height: 50vmin;
        width: 60vmin;
        margin: 2% 20vmin;
    }

    .dim-styimg {
        max-height: 50vmin;
        max-width: 60vmin;
        margin: 2% 20vmin;
    }

    /*---------------- Icons ----------------*/
    .icon-segmap {
        height: 15vmin;
    }

    /*---------------- Fixed text ----------------*/
    .segmap-info {
        font-size: 6vmin;
    }

    .segmap-info-click {
        font-size: 4vmin;
    }
}

