{% extends "layout.html" %}

{% block about_navitem %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <center>
        <h1 class="display-4">ABOUT</h1>
        <img src="{{url_for('static', filename='images/page_under_construction.png')}}" align="middle" />
    </center>
</div>
{% endblock %}
