<!DOCTYPE html>
{% extends "layout.html" %}

{% block head %}
    <!-- Font Awesome 5 Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interactive-demo.css') }}">

    {% block tool_head %}
    {% endblock %}
{% endblock %}

{% block interactivedemo_navitem %}
<li class="nav-item active">
{% endblock %}

{% block content %}
<!--
<center>
    <h1>Interactive Demo</h1>
</center>
-->

<div class="container margin-topbottom" id="messages-interactivedemo">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
</div>


<div class="container">
    <form class="container form-container" action="/interactivedemo" method="POST" enctype="multipart/form-data" name="form-data">
        <div class="sub-container tool-container">
            {% block tools %}

            {% endblock %}
        </div>
        <div class="sub-container">
            <canvas id="paint-segmap" class="dim-img">
                Your browser does not support the HTML canvas tag.
            </canvas>

            <input type="hidden" id="segmap" name="file_segmap">
        </div>

        <div class="sub-container">
            <div class="add-basic container dim-style-container display-text" id="add-style-interactivedemo">
                <span id="span-style-interactivedemo">
                    <i class="icon-style"></i>

                    <p class="style-info"> Add Style Image </p>
                    <p class="style-info-click">
                        Click here to choose a image file <br>
                        (PNG or JPG/JPEG files only)
                    </p>
                </span>

                <div class="style-text content">
                    <div class="text">Click to upload style image</div>
                </div>
            </div>
            <input type="file" class="no-display" id="upload-style-interactivedemo" name="file_style">

            <div class="dim-generate container">
                <button type="button" class="button-fake" onclick="generateFakeImage('interactivedemo')"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Click here to generate the photorealistic image"/>
            </div>
        </div>

        <div class="sub-container margin-fake-img">
            <div class="fake-basic container dim-img">
                <span id="fake-img-interactivedemo"><div class="icon-fake"></div></span>
            </div>
        </div>
    </form>
</div>

<!-- SCRIPTS -->
<script src="{{url_for('static', filename='js/demos.js')}}"></script>
<script src="{{url_for('static', filename='js/utils/save_changes.js')}}"></script>
<script src="{{url_for('static', filename='js/utils/utils.js')}}"></script>
<script src="{{url_for('static', filename='js/utils/draw_and_fill.js')}}"></script>
<script src="{{url_for('static', filename='js/interactive-demo.js')}}"></script>
{% endblock %}
