<!DOCTYPE html>
{% extends "interactive-demo-structure.html" %}

{% block tool_head %}
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

{% block body %}
  <body onload="init()">
{% endblock%}

{% block tools %}

<div class="inline">
    <p class="name-tool">Tools</p>
    <hr class="line">
    <div class="items margin-topbottom-items">
        <!-- Paintbrush -->
        <button id="paintbrush-tool" class="paint-button tool" type="button"
                data-toggle="tooltip" data-placement="bottom" title="Paintbrush">
            <i class="fa fa-paint-brush"></i>
        </button>

        <!-- Geometric Shapes -->
        <button id="geometric-shape-tool" class="paint-button tool" type="button""
                data-toggle="tooltip" data-placement="bottom" title="Geometric Shapes">
            <i class="fas fa-shapes"></i>
        </button>

        <!-- Bucket -->
        <button id="bucket-fill-tool" class="paint-button tool" type="button"
                data-toggle="tooltip" data-placement="bottom" title="Bucket">
            <i class="las la-fill-drip icon"></i>
        </button>

        <!-- Eyedropper -->
        <button id="eyedropper-tool" class="paint-button tool" type="button"
                data-toggle="tooltip" data-placement="bottom" title="Eyedropper">
            <i class="fa fa-eyedropper"></i>
        </button>
    </div>

    <div id="speech-bubble">
        <div class="items-bubble">
            <!-- Line -->
            <button id="line" class="paint-button-bubble dim-line tool-bubble" type="button"
                    data-toggle="tooltip" data-placement="bottom" title="Line">
                <i class="fas fa-slash"></i>
            </button>
            <!-- Rectangle -->
            <button id="rectangle" class="paint-button-bubble dim-rectangle tool-bubble" type="button"
                    data-toggle="tooltip" data-placement="bottom" title="Rectangle">
                &#x25A0;
            </button>
            <!-- Rhombus -->
            <button id="rhombus" class="paint-button-bubble dim-diamond tool-bubble" type="button"
                    data-toggle="tooltip" data-placement="bottom" title="Rhombus">
                &#x25C6;
            </button>
            <!-- Circle -->
            <button id="circle" class="paint-button-bubble dim-circle tool-bubble" type="button"
                    data-toggle="tooltip" data-placement="bottom" title="Circle">
                &#x25CF;
            </button>
        </div>

        <div id="stroke-width">
            <div id="range">
                <input type="range" id="stroke-width-range" oninput="changeStrokeWidthRange(this.value)" min="1" max="100" value="1"/>
            </div>
            <input type="number" id="stroke-width-number" value="1" min="1" max="100" onclick="changeStrokeWidthNumber(this.value)">
        </div>
    </div>

    <hr class="line-width">

    <p class="name-tool inline">
        Colors
        <i id="color-selected"></i>
    </p>
    <hr class="line">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link name-color-class active " id="nav-landscape-tab" data-toggle="tab"
               href="#nav-landscape" role="tab" aria-controls="nav-landscape" aria-selected="true">
                Landscape
            </a>
            <a class="nav-item nav-link name-color-class" id="nav-ground-tab" data-toggle="tab"
               href="#nav-ground" role="tab" aria-controls="nav-ground" aria-selected="false">
                Ground
            </a>
            <a class="nav-item nav-link name-color-class" id="nav-plant-tab" data-toggle="tab"
               href="#nav-plant" role="tab" aria-controls="nav-plant" aria-selected="false">
                Plant
            </a>
        </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-landscape" role="tabpanel" aria-labelledby="nav-landscape-tab">
                <div class="items margin-top-items">
                    <button id="sky" class="circle-button" type="button" onclick="changeColor('#69DAE9')"
                            data-toggle="tooltip" data-placement="bottom" title="Sky">
                        <i class="fas fa-cloud-sun"></i>
                    </button>
                    <button id="water" class="circle-button" type="button" onclick="changeColor('#73C1E8')"/
                            data-toggle="tooltip" data-placement="bottom" title="Water">
                        <i class="fas fa-tint"></i>
                    </button>
                    <button id="waterfall" class="circle-button" type="button" onclick="changeColor('#2DBCE8')"/
                            data-toggle="tooltip" data-placement="bottom" title="Waterfall">
                    </button>
                    <button id="river" class="circle-button" type="button" onclick="changeColor('#1FB4C8')"/
                            data-toggle="tooltip" data-placement="bottom" title="River">
                    </button>
                    <button id="sea" class="circle-button" type="button" onclick="changeColor('#44A2A2')"/
                            data-toggle="tooltip" data-placement="bottom" title="Sea">
                    </button>
                </div>
                <div class="items margin-top-items">
                    <button id="light" class="circle-button" type="button" onclick="changeColor('yellow')"/
                            data-toggle="tooltip" data-placement="bottom" title="Light source">
                        <i class='fas fa-lightbulb'></i>
                    </button>
                    <button id="stone" class="circle-button" type="button" onclick="changeColor('gray')"/
                            data-toggle="tooltip" data-placement="bottom" title="Stone">
                        <i class="fas fa-tree-palm"></i>
                    </button>
                    <button id="hill" class="circle-button" type="button" onclick="changeColor('#596F00')"
                            data-toggle="tooltip" data-placement="bottom" title="Hill">
                        <i class="fas fa-mountain"></i>
                    </button>
                    <button id="mountain" class="circle-button" type="button" onclick="changeColor('#723E00')"/
                            data-toggle="tooltip" data-placement="bottom" title="Mountain">
                        <i class="fas fa-mountain"></i>
                    </button>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-ground" role="tabpanel" aria-labelledby="nav-ground-tab">
                <div class="items more-margin-top-items">
                    <button id="sand" class="circle-button" type="button" onclick="changeColor('#F7C292')"/
                            data-toggle="tooltip" data-placement="bottom" title="Sand">
                    </button>
                    <button id="land" class="circle-button" type="button" onclick="changeColor('#9A6D41')"/
                            data-toggle="tooltip" data-placement="bottom" title="Land">
                    </button>
                    <button id="pavement" class="circle-button" type="button" onclick="changeColor('#B0AAAA')"/
                            data-toggle="tooltip" data-placement="bottom" title="Pavement">
                    </button>
                    <button id="road" class="circle-button" type="button" onclick="changeColor('#524D4D')"/
                            data-toggle="tooltip" data-placement="bottom" title="Road">
                    </button>
                    <button id="path" class="circle-button" type="button" onclick="changeColor('#E38731')"/
                            data-toggle="tooltip" data-placement="bottom" title="Path">
                    </button>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-plant" role="tabpanel" aria-labelledby="nav-plant-tab">
                <div class="items more-margin-top-items">
                    <button id="tree" class="circle-button" type="button" onclick="changeColor('#1BA000')"/
                            data-toggle="tooltip" data-placement="bottom" title="Tree">
                    </button>
                    <button id="palm" class="circle-button" type="button" onclick="changeColor('#00FF1D')"/
                            data-toggle="tooltip" data-placement="bottom" title="Palm Tree">
                    </button>
                    <button id="flower" class="circle-button" type="button" onclick="changeColor('#C222FF')"/
                            data-toggle="tooltip" data-placement="bottom" title="Flower">
                    </button>
                    <button id="grass" class="circle-button" type="button" onclick="changeColor('#BAEB34')"/
                            data-toggle="tooltip" data-placement="bottom" title="Grass">
                    </button>
                    <button id="plant" class="circle-button" type="button" onclick="changeColor('#7DB241')"/
                            data-toggle="tooltip" data-placement="bottom" title="Plant-other">
                        <i class="fas fa-seedling"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <div class="absolute">
    <hr class="line-width">
        <div class="items">
            <!-- Undo -->
            <button id="undo-tool" class="paint-button margin-topbottom-paint-button" type="button" onclick="undo()"
                    data-toggle="tooltip" data-placement="bottom" title="Undo">
                <i class="fas fa-undo-alt"></i>
            </button>
            <!-- Redo -->
            <button id="redo-tool" class="paint-button margin-topbottom-paint-button" type="button" onclick="redo()"
                    data-toggle="tooltip" data-placement="bottom" title="Redo">
                <i class="fas fa-redo-alt"></i>
            </button>

            <div class="vl"></div>

            <!-- Clear canvas -->
            <button id="clear-tool" class="paint-button icon-close margin-topbottom-paint-button" type="button" onclick="clearCanvas()"
                    data-toggle="tooltip" data-placement="bottom" title="Clear canvas">
                <i class="far fa-window-close"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}
